
.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.App-link {
  display: none;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}