body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

.cursor-pointer {
  cursor: pointer;
}

/* missing tailwind classes from material-tailwind */
/* TODO: integrate plain tailwind and get rif of material-tailwind to remove these classes again */

.underline {
  text-decoration: underline;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.ml-4 {
  margin-left: 1rem;
}

.py-3\.5 {
  padding-top: 0.825rem;
  padding-bottom: 0.825rem;
}

.h-64 {
  height: 16rem;
}

.border-opacity-50 {
  --tw-border-opacity: 0.5;
}

.border-gray-700 {
  --tw-border-opacity: 1;
  border-color: rgba(97, 97, 97, var(--tw-border-opacity));
}
.border-gray-800 {
  --tw-border-opacity: 1;
  border-color: rgba(66, 66, 66, var(--tw-border-opacity));
}
.border-gray-900 {
  --tw-border-opacity: 1;
  border-color: rgba(33, 33, 33, var(--tw-border-opacity));
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
@media (min-width: 640px) {
  .sm\:space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  }
}

.hover\:shadow-xl:hover {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.opacity-95 {
  opacity: 0.95;
}
.hover\:opacity-100:hover {
  opacity: 1;
}

.hover\:-translate-y-1:hover {
  --tw-translate-y: -0.25rem;
}
.hover\:-translate-x-1:hover {
  --tw-translate-x: -0.25rem;
}
.hover\:transform-scale-103:hover {
  --tw-scale-x: 1.03;
  --tw-scale-y: 1.03;
}
.hover\:transform-scale-101:hover {
  --tw-scale-x: 1.01;
  --tw-scale-y: 1.01;
}
.grow {
  flex-grow: 1;
}
.grow-0 {
  flex-grow: 0;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-4 {
  order: 4;
}
.order-5 {
  order: 5;
}

.justify-items-stretch {
  justify-items: stretch;
}
.justify-items-center {
  justify-items: center;
}

.self-end {
  align-self: flex-end;
}
.place-self-end {
  place-self: end;
}

.content-between {
  align-content: space-between;
}
.content-center {
  align-content: center;
}
.min-w-xs {
  min-width: 20rem;
}
.min-w-sm-1\/2 {
  min-width: 12rem;
}

.row-span-2 {
  grid-row: span 2 / span 2;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (min-width: 640px) {
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .sm\:text-sm {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
  }
}
@media (min-width: 768px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md\:mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (min-width: 1024px) {
  .lg\:grid {
    display: grid !important;
  }
  .lg\:flex {
    display: flex !important;
  }
  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .lg\:order-1 {
    order: 1;
  }
  .lg\:order-2 {
    order: 2;
  }
  .lg\:order-3 {
    order: 3;
  }
  .lg\:order-4 {
    order: 4;
  }
  .lg\:order-5 {
    order: 5;
  }
  .lg\:mt-0 {
    margin-top: 0 !important;
  }
  .lg\:max-w-6xl {
    max-width: 72rem !important;
  }
  .lg\:text-2xl {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }
  .lg\:w-48 {
    width: 12rem !important;
  }
  .lg\:h-48 {
    height: 12rem !important;
  }
  .lg\:text-6xl {
    font-size: 3.75rem !important;
    line-height: 1 !important;
  }
}
@media (min-width: 1440px) {
  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.animate-spin {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

.fill-deep-orange-500 {
  fill: rgba(255, 87, 34, 1);
}
.fill-orange-500 {
  fill: rgba(255, 152, 0, 1);
}
.fill-gray-200 {
  fill: rgba(238, 238, 238, 1);
}

/* missing tailwind classes from material-tailwind - end */

/* quick fix for material-tailwind oddities */
.App-header button.capitalize {
  text-transform: unset !important;
}
.App-header .uppercase {
  text-transform: unset !important;
}
.App button:disabled {
  filter: brightness(0.9) grayscale(); /*grayscale()*/
}
/* quick fix for material-tailwind oddities - end */

/* Chessground adaptions */
cg-board {
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* prevent gap on the right when stretching board to 100% width */
.cg-wrap coords.ranks {
  top: unset !important;
}
.cg-wrap coords.ranks coord {
  transform: unset !important;
}

.cg-wrap coords.files {
  left: unset !important;
}
.cg-wrap coords.files coord {
  transform: translateX(39%);
}
/* prevent gap on the right when stretching board to 100% width - end */

/* Chessground adaptions - end */
