body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

/* missing tailwind classes from material-tailwind */
/* TODO: integrate plain tailwind and get rif of material-tailwind to remove these classes again */
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
/* missing tailwind classes from material-tailwind - end */

/* Chessground adaptions */
cg-board {
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.cg-wrap coords.files {
  /* prevent gap on the right when stretching board to 100% width */
  left: unset !important;
  padding-left: 24px;
}
/* Chessground adaptions - end */
