.App {
  min-height: 100vh;
  color: white;
}

.App-header > nav {
  border-bottom: 0px solid rgba(255, 255, 255, 0.05);
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
